/* Header section */
/* Logo */
.logo {
    font-size: 36px;
    color: #333;
    font-weight: 1000;
    text-decoration: none;
  }
  
  /* search-bar */
  .search-bar button {
    background-color: #333;
    color: white;
    border: 2px solid #333;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #555;
  }
  
  .search-bar input[type="text"] {
    padding: 5px;
    border: 2px solid #ccc;
    margin-right: 1px;
    width: 75%;
  }
  
  /* Authlinks */
  /* Modal Styles */
.modal {
  display: none; /* default to none, will show when active */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  z-index: 1000; /* ensure it appears above everything else */
  align-items: center;
  justify-content: center;
  display: flex;
}

.modal.active {
  display: flex;
}

/* Form Styles */
.login-form, .signup-form {
  background-color:darkkhaki;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  
}

.auth-title {
  margin-bottom: 15px;
  font-size: 24px;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
}

input[type="text"], input[type="email"], input[type="password"] {
  padding: 10px 15px 10px 35px;
  width: 80%;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.auth-btn {
  width: 100%;
  padding: 10px 15px;
  background-color: olive;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #007BFF;
  text-decoration: underline;
}

p {
  margin-top: 15px;
  font-size: 14px;
}

.close-btn {
  position: absolute;
  top: 50px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
  line-height: 1;
  color: #555; /*  any color for the close button */
}
  /* CartIcon */
  .cart-icon {
    position: relative;
  }
  
  .cart-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
  }
  
  /* Header */
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    justify-content: center;
    background-color:olive;
  }
  
  .logo-auth-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .logo-container {
    align-self: flex-start;
  }
  
  .authlinks-container {
    margin-left: 20px;
    align-self: center;
  }
  
  .search-container {
    width: 70%;
    margin: 5px auto;
  }
  
  .bottom-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .nav-bar {
    display: flex;
    font-size: 20px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .navigation a {
    margin: 0 10px;
    text-decoration: none;
    color: inherit;
  }


  /* Styling if the cart */
  .cart-icon {
    margin-left: 10px;
    position: relative;
  }
  
  .cart-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    width: 500px;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 1;
    padding-bottom: 20px;
}

.cart-info {
  border-bottom: 1px solid #eee;
  padding: 10px;
  font-weight: bold;
}

.cart-footer {
  margin-top: 10px;
  border-top: 1px solid #eee;
  padding: 10px 0;
  font-weight: bold;
}

.cart-item, .cart-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 10px;
  font-weight: bold;
  /* height: 0px; */
  /* margin-bottom: -0px; */
}

.cart-item img {
  width: 140px;
  height: 80px;
  margin: 10px 0;
  margin-right: auto;
}

.product-actions {
  display: flex;
  align-items: center;
  margin-left: auto;
  /* margin: 10px 0; */
}

.cart-total {
  margin-top: 10px;
  font-weight: bold;
}
  
  /* ProductCategoryMenu*/
  .menu-container {
    position: relative;
  }
  
  .menu-icon:hover + .category-dropdown,
  .category-dropdown:hover {
    display: block;
  }
  
  .category-dropdown {
    display: none;
    position: absolute;
    left: 0;
    top: calc(100% + 2px);
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  
  .category-dropdown a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    transition: background-color 0.3s;
  }
  
  .category-dropdown a:hover {
    background-color: #f6f6f6;
  }
  
  .category-dropdown.open {
    display: block;
  }


